@{
    Layout=null;
}
<!DocType html>
<html>
    <head>
        <title>requirejs</title>
    </head>
    <body>
        
    </body>
</html> 

<script src="js/require.js"></script>
<script src="js/config.js"></script>

<script>
	    require(['js/views/home'], function(obj) {
	    	obj.initHome();
        });
</script>